<%- include('includes/head.ejs') %>
</head>

<body>
    <%- include('includes/navigation.ejs') %>
    <main>

        <h2><%= product.product_title %></h2>
        <div>
            <img src="../imgs/<%= product.image_path %>" width="250px" height="250px"
                alt="<%= product.product_title %>">
        </div>

        <div class="cart-item">
            <%= product.price %>

            <form action="/add-to-cart" method="POST"
                onclick="add_to_cart('<%= current_user %>', '<%= product.product_title %>')">
                <input type="hidden" name="current_user" value="<%= current_user %>">
                <input type="hidden" name="product_id" value="<%= product.product_id %>">
                <button type="submit">Add To Cart</button>

            </form>

        </div>
    </main>


    <%- include('includes/end.ejs') %>