<%- include('includes/head.ejs') %>
</head>

<body>
    <%- include('includes/navigation.ejs') %>
    <main>
        <h1>Hi from index</h1>
        <div class="product-list">


            <% for (let cart_item of cart_items ) { %>

            <h2><%= cart_item.cart_item_name %></h2>
            <div>
                <img src="../imgs/<%= cart_item.image_path%>" width="250px" height="250px"
                    alt="<%= cart_item.product_title %>">
            </div>

            <div class="cart-item">
                Quantity: <%= cart_item.quantity %>
                $<%= cart_item.price %>


            </div>
            <% } %>

            <h4>Total: $<%= total %></h4>
            <form method="POST">
                <input type="hidden" name="user" id="user" value="<%= current_user %>">
                <input type="hidden" name="total" id="total" value="<%= total %>">
                <input type="hidden" name="cart_id" id="cart_id" value="<%= cart_items[0].cart_id %>">
                <select name="payment_method">
                    <option>Visa</option>
                    <option>Amex</option>
                    <option>MasterCard</option>
                    <label>Credit Card Number:</label>
                    <input type="text" name="credit_card_number" id="credit_card_number">
                </select>
                <button type="submit">Checkout</button>
            </form>

        </div>
    </main>

    <%- include('includes/end.ejs') %>